.cart-page-title {
    text-align: center;
    padding: 10px 0 0 0;
}

.cart-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
}

.cart-item {
    display: flex;
    height: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    box-shadow: 0 2px 2px 2px rgb(180, 180, 180);
    border-radius: 10px;
}

.cart-item .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: auto;
    font-size: 0.8rem;
}

.cart-prod-img {
    border-right: 1px solid rgb(201, 201, 201);
}

.cart-prod-remove-btn {
    cursor: pointer;
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}

/* 
cart-prod-title
cart-prod-price
 */

.checkout-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#checkout-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 0 2px 2px 2px rgb(180, 180, 180);
    transition: all 0.2s ease-in-out;
}

#checkout-btn:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .cart-item {
        width: 100%;
    }
}