:root {
    --blue: rgb(12, 135, 232);
    --card-radius: 15px;
}

.product-page-title {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}

/* product-filter-section */
.product-filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    padding: 10px 20px;
    margin: 10px 0;
}

#prod-category-filter {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#prod-category-filter:hover,
#prod-category-filter:focus {
    border: 2px solid black;
    outline: none;
}

#prod-category-filter option {
    padding: 10px;
}

/* product-container */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--card-radius);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.product-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.product-content {
    padding: 10px;
    font-weight: 500;
}

.product-card img {
    width: 100%;
    max-height: 70%;
    object-fit: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.product-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.product-card .product-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.product-add-to-cart-btn,
.product-view-details-btn {
    background-color: rgb(0, 28, 212);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 15px;
    border: 1px solid rgb(0, 28, 212);
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.product-add-to-cart-btn:hover,
.product-view-details-btn:hover {
    background-color: transparent;
    color: rgb(0, 28, 212);
}

/* product modal */
.productModal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: 15vh auto;
    border-radius: 12px;
    box-shadow: 0 2px 2px 2px rgb(225, 225, 225);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}

.modal-header {
    display: flex;
    padding: 16px 20px;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 5px 5px rgb(180, 180, 180);
}

.close-modal {
    height: 40px;
    width: 40px;
    font-size: 2.1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(40, 40, 40);
    border-radius: 50%;
    padding: 1px;
}

.close-modal:hover {
    background-color: rgb(29, 29, 29);
    color: white;
}

.modal-body {
    height: calc(100% - 70px);
    padding: 10px;
    margin-top: 10px;
    overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
    border-radius: 10px;
    background: white;
}

.modal-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
}

.modal-product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.product-gallery {
    flex: 1;
    max-width: 40%;

    display: flex;
    justify-content: center;
}

.modal-product-image {
    max-width: 100%;
    max-height: 400px;
}

.product-info-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    height: 100%;
    width: 100%;
}

/* load more button */
.load-more-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#load-btn {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 0 2px 2px 2px rgb(180, 180, 180);
    transition: all 0.2s ease-in-out;
}

#load-btn:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .product-container {
        padding: 0;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }

    .product-filter-section {
        height: 80px;
    }

    .modal-product-details {
        flex-direction: column;
    }
}