:root {
    --blue: rgb(12, 135, 232);
    --card-radius: 15px;
}

.product-page-title {
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}

/* product-filter-section */
.product-filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    padding: 10px 20px;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .product-filter-section {
        height: 80px;
    }
}

#prod-category-filter {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#prod-category-filter:hover,
#prod-category-filter:focus {
    border: 2px solid black;
    outline: none;
}

#prod-category-filter option {
    padding: 10px;
}

/* product-container */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--card-radius);
    box-shadow: 0 2px 2px 2px rgb(180, 180, 180);
    transition: all 0.2s ease-in-out;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.product-content {
    padding: 10px;
    font-weight: 500;
}

.product-card img {
    height: 70%;
    border-bottom: 1px solid black;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

.product-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.product-description {
    text-align: justify;
    margin-bottom: 10px;
}

.product-add-to-cart-btn {
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

/* load more button */
.load-more-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#load-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 0 2px 2px 2px rgb(180, 180, 180);
    transition: all 0.2s ease-in-out;
}

#load-btn:hover {
    transform: scale(1.1);
}